QWidget {
    background-color: #f5f5f5;
    color: #000;
    font-family: Segoe UI;
    font-size: 11pt;
}

QPushButton {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: #eaeaea;
}

QLineEdit {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
}

QProgressBar::chunk {
    background-color: #0078d7;
}